In [1]:
tup = 4, 5, 6 # tuple is a fixed-length, immutable sequence of python objects, once assgined, cannot be changed
print(tup)

tup = tuple('string')
print(tup[0])

print(tuple([4,0,2])) # convert any sequence or iterator to a tuple

(4, 5, 6)
s
(4, 0, 2)

In [2]:
nested_tup=(4,5,6),(7,8)
nested_tup

print(nested_tup[0][1])
print(nested_tup[1])

5
(7, 8)

In [4]:
2+2

4

In [6]:
tup = 4,5,6
print(tup)

(4, 5, 6)

Python Essential Training

In [1]:
# Variables and types
x = 5
print(x)

5

In [2]:
name = "John"
print(name)

John

In [5]:
type(name)

float

In [ ]:
#Numbers
type(1.5)

In [8]:

type(2+3j)

<class 'complex'>

complex

In [9]:
type(2+3)

int

In [10]:
type(1j * 1j)

complex

In [12]:
1j*1j

(-1+0j)

In [13]:
#Strings
'String 1' + 'String 2'

'String 1String 2'

In [14]:
'1' + '2'

'12'

In [1]:
'1'+1

50

In [16]:
#booleans

1 == 1

True

In [5]:
#Lists

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
my_list= ['John',1, True,[]]
print(my_list)
len(my_list)

['John', 1, True, []]

4

In [3]:
my_list = [[1,2,3],[False,True,1],[]]
print(my_list)

[[1, 2, 3], [False, True, 1], []]

In [1]:
#set
my_set = {1,2,3} #must be unique
print(my_set)
len(my_set)

{1, 2, 3}

3

In [6]:
[1,2] == [2,1] # in set, order is different

False

In [7]:
{1,2} == {2,1,1,2} # order doesnt matter; repeat elements doesnt matter

True

In [10]:
# Tuples

my_tuple = (1,2,3)
len(my_tuple)

False

In [9]:
(1,2) ==(2,1) # tuple order matters

False

In [12]:
my_list = [[1,2,3],[False,True,1],[]]
my_list.append(6)
print(my_list)

[[1, 2, 3], [False, True, 1], [], 6]

In [13]:
my_tuple.append(6)   # once a tuple is declared, cant add to it or change any of the value in it
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
#Dictionaries
my_dictionary = {
    'apple':"A red fruit",
    'Banana':"A yellow fruit",
    'apple':"A black fruit"
}
my_dictionary['apple']    #

'A black fruit'

Sets and Dictionaries
# Both are defined with curly brackets
# Sets have unique values, dictionaries have unique keys
# The order doesn't matter

In [19]:
#Arithmatic Operators 

1+1

2

In [20]:
5 ** 2

25

In [21]:
20/5

4.0

In [22]:
20 % 6 #modulus operator

2

In [23]:
#Arithmetic Operators with Strings
"String" * 4

'StringStringStringString'

In [24]:
"1" + 4

TypeError: can only concatenate str (not "int") to str

In [25]:
"1" + str(4)

'14'

In [26]:
# Comparison Operator
4< 5

True

In [27]:
# Logical Operator ( and or not)
True and False

False

In [28]:
not True

False

In [30]:
#Membership Operators
10 in [1,2,3,4]

True

In [31]:
10 not in [1,2,3,4]

True

In [32]:
"cat" in "my pet cat"

True

In [35]:
# Control Flow
# if/else statements
a = False
if a:                      #indentation is important
    print("it is true")
    print("Also print this")
else:
    print("It is false")
print("Always print this")

It is false
Always print this

In [36]:
# for LOOP
a = [1,2,3,4,5]
for item in a :
    print(item)

1
2
3
4
5

In [ ]:
# while loop
while a < 5:   # use while loop's condition are changing
    print(a)
    a = a + 1

In [38]:
# Functions
print("Hello World!")

Hello World!

In [39]:
def multiplyByThree(val):
    return 3 * val

multiplyByThree(4)

12

In [40]:
def multiplyByThree(val,val1):
    return val * val1

multiplyByThree(3,4)

12

In [43]:
a = [1,2,3,4]

def appendFour(myList): # this function to define add a number into a list, could be any list
    myList.append(4)
    
appendFour(a)
print(a)

[1, 2, 3, 4, 4]

In [42]:
type(None)

NoneType

# 理解self在Python类定义中的作用是面向对象编程（OOP）的一个关键点。这里有几个要点可以帮助更好地理解：

# self的作用
self在定义类的方法时必须作为第一个参数，但在调用这些方法时，你不需要显式传递它。当你调用一个对象的方法时，Python会自动将对象实例作为第一个参数传递给该方法。
self代表了类的实例自身，允许访问类的属性和方法。确实，它指的是“自己”，即对象自己的引用。
# 类的构造器__init__
特殊方法__init__是类的构造器，它在创建对象时自动调用。尽管这个方法定义时需要self参数，但你在创建类的实例时不需要传递它。例如，my_dog = Dog()创建了Dog类的一个实例，此时__init__方法会自动调用，而无需手动传递self。
__init__方法通常用于初始化实例变量，即那些用self访问的变量。
# 创建实例时不传递self
正如你观察到的，当你创建一个类的实例时，如my_dog = Dog()，你不传递任何参数给Dog。这是因为self参数在方法内部是隐式处理的，Python自动处理self，所以你不需要在创建实例时关心它。
如果__init__方法定义了除self之外的其他参数，那么你在创建类的实例时就需要提供这些参数。
# 总结
并不是每个类的方法都必须有self作为参数。静态方法（使用@staticmethod装饰器定义）和类方法（使用@classmethod装饰器定义）就不需要self参数。但是，普通的实例方法必须包含self，以便方法能够访问对象的属性和其他方法。
self是一个约定用法，用于指代类的当前实例。虽然你可以用其他名称代替self，但使用self是Python中的标准做法，因为它对于理解代码的其他人来说更加明确。
通过这种方式，Python的面向对象编程模型使得每个对象可以维护自己的状态和行为，self正是这种模型的核心部分。

In [44]:
class Dog:
    def __init__(self):
        self.name = "Rover"
        self.legs = 4
        
    def speak(self):
        print(self.name + "Bark")
        
my_dog = Dog() # class name is uppercase
another_dog = Dog()

my_dog.speak()
another_dog.speak()

RoverBark
RoverBark

In [45]:
class Dog:
    def __init__(self,name):
        self.name = name
        self.legs = 4
        
    def speak(self):
        print(self.name + "Bark")
        
my_dog = Dog('Rover') # class name is uppercase
another_dog = Dog('Fluffy')

my_dog.speak()
another_dog.speak()

RoverBark
FluffyBark

In [46]:
# int and floats

20/4

5.0

In [47]:
4 ** 4.0

256.0

In [48]:
int(4 ** 4.0)

256

In [49]:
int(8.999999)

8

In [53]:
round(14/3,2)

4.67

In [54]:
round(1.2-1.0,2)

0.2

In this specific case, 1.2 - 1.0 equals 0.2. The round function with 2 as the second argument will format this result to have exactly two digits after the decimal point, if necessary. However, since 0.2 already has a single digit after the decimal point and does not require additional rounding to meet this criterion, the output will simply be 0.2.

In [55]:
# casting string to integers

int("100")

100

In [56]:
int("100",2)   #binary ,The binary number 100 in base-2 translates to 4 in base-10.

4

In [59]:
int('1ab',16)

427

In [61]:
#Decimals

from decimal import Decimal, getcontext
getcontext(),prec=4

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3933169661.py, line 4)