In [1]:
tup = 4, 5, 6 # tuple is a fixed-length, immutable sequence of python objects, once assgined, cannot be changed
print(tup)

tup = tuple('string')
print(tup[0])

print(tuple([4,0,2])) # convert any sequence or iterator to a tuple

(4, 5, 6)
s
(4, 0, 2)

In [2]:
nested_tup=(4,5,6),(7,8)
nested_tup

print(nested_tup[0][1])
print(nested_tup[1])

5
(7, 8)

In [4]:
2+2

4

In [6]:
tup = 4,5,6
print(tup)

(4, 5, 6)

Python Essential Training

In [1]:
# Variables and types
x = 5
print(x)

5

In [2]:
name = "John"
print(name)

John

In [5]:
type(name)

float

In [ ]:
#Numbers
type(1.5)

In [8]:

type(2+3j)

<class 'complex'>

complex

In [9]:
type(2+3)

int

In [10]:
type(1j * 1j)

complex

In [12]:
1j*1j

(-1+0j)

In [13]:
#Strings
'String 1' + 'String 2'

'String 1String 2'

In [14]:
'1' + '2'

'12'

In [1]:
'1'+1

50

In [16]:
#booleans

1 == 1

True

In [5]:
#Lists

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
my_list= ['John',1, True,[]]
print(my_list)
len(my_list)

['John', 1, True, []]

4

In [3]:
my_list = [[1,2,3],[False,True,1],[]]
print(my_list)

[[1, 2, 3], [False, True, 1], []]