In [1]:
tup = 4, 5, 6 # tuple is a fixed-length, immutable sequence of python objects, once assgined, cannot be changed
print(tup)

tup = tuple('string')
print(tup[0])

print(tuple([4,0,2])) # convert any sequence or iterator to a tuple

(4, 5, 6)
s
(4, 0, 2)

In [2]:
nested_tup=(4,5,6),(7,8)
nested_tup

print(nested_tup[0][1])
print(nested_tup[1])

5
(7, 8)

In [4]:
2+2

4

In [6]:
tup = 4,5,6
print(tup)

(4, 5, 6)

Python Essential Training

In [1]:
# Variables and types
x = 5
print(x)

5

In [2]:
name = "John"
print(name)

John

In [5]:
type(name)

float

In [ ]:
#Numbers
type(1.5)

In [8]:

type(2+3j)

<class 'complex'>

complex

In [9]:
type(2+3)

int

In [10]:
type(1j * 1j)

complex

In [12]:
1j*1j

(-1+0j)

In [13]:
#Strings
'String 1' + 'String 2'

'String 1String 2'

In [14]:
'1' + '2'

'12'

In [1]:
'1'+1

50

In [16]:
#booleans

1 == 1

True

In [5]:
#Lists

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
my_list= ['John',1, True,[]]
print(my_list)
len(my_list)

['John', 1, True, []]

4

In [3]:
my_list = [[1,2,3],[False,True,1],[]]
print(my_list)

[[1, 2, 3], [False, True, 1], []]

In [1]:
#set
my_set = {1,2,3} #must be unique
print(my_set)
len(my_set)

{1, 2, 3}

3

In [6]:
[1,2] == [2,1] # in set, order is different

False

In [7]:
{1,2} == {2,1,1,2} # order doesnt matter; repeat elements doesnt matter

True

In [10]:
# Tuples

my_tuple = (1,2,3)
len(my_tuple)

False

In [9]:
(1,2) ==(2,1) # tuple order matters

False

In [12]:
my_list = [[1,2,3],[False,True,1],[]]
my_list.append(6)
print(my_list)

[[1, 2, 3], [False, True, 1], [], 6]

In [13]:
my_tuple.append(6)   # once a tuple is declared, cant add to it or change any of the value in it
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
#Dictionaries
my_dictionary = {
    'apple':"A red fruit",
    'Banana':"A yellow fruit",
    'apple':"A black fruit"
}
my_dictionary['apple']    #

'A black fruit'

Sets and Dictionaries
# Both are defined with curly brackets
# Sets have unique values, dictionaries have unique keys
# The order doesn't matter

In [19]:
#Arithmatic Operators 

1+1

2

In [20]:
5 ** 2

25

In [21]:
20/5

4.0

In [22]:
20 % 6 #modulus operator

2

In [23]:
#Arithmetic Operators with Strings
"String" * 4

'StringStringStringString'

In [24]:
"1" + 4

TypeError: can only concatenate str (not "int") to str

In [25]:
"1" + str(4)

'14'

In [26]:
# Comparison Operator
4< 5

True

In [27]:
# Logical Operator ( and or not)
True and False

False

In [28]:
not True

False

In [30]:
#Membership Operators
10 in [1,2,3,4]

True

In [31]:
10 not in [1,2,3,4]

True

In [32]:
"cat" in "my pet cat"

True

In [35]:
# Control Flow
# if/else statements
a = False
if a:                      #indentation is important
    print("it is true")
    print("Also print this")
else:
    print("It is false")
print("Always print this")

It is false
Always print this

In [36]:
# for LOOP
a = [1,2,3,4,5]
for item in a :
    print(item)

1
2
3
4
5

In [ ]:
# while loop
while a < 5:   # use while loop's condition are changing
    print(a)
    a = a + 1

In [38]:
# Functions
print("Hello World!")

Hello World!

In [39]:
def multiplyByThree(val):
    return 3 * val

multiplyByThree(4)

12

In [40]:
def multiplyByThree(val,val1):
    return val * val1

multiplyByThree(3,4)

12

In [43]:
a = [1,2,3,4]

def appendFour(myList): # this function to define add a number into a list, could be any list
    myList.append(4)
    
appendFour(a)
print(a)

[1, 2, 3, 4, 4]

In [42]:
type(None)

NoneType

test